@*Area `Admin`*@

@using TradingApp.GCommon.Enums
@using TradingApp.ViewModels.InputProduct
@model ManagedProductModel

@{
    ViewData["Title"] = "Manage";
}

<h1>Manage Product: @(Model.Name)</h1>

<br />
<br />

<form asp-area="Admin" asp-controller="Product" asp-action="ManageProduct_execute">
    
    <label>Product Status</label>
    <select name="Status">
        @foreach (ProductStatus status in ManagedProductModel.productStatuses)
        {
            <option>
                @(status)
            </option>
        }
    </select>

    <br />
    <br />

    <input type="hidden" name="Id" value="@(Model.Id)" />

    <input type="submit" value="Apply"/>
</form>
