@using TradingApp.ViewModels.Order;
@model OrderViewModel

@{
    ViewData["Title"] = "Confirmation";
}

<div style="text-align:center">
    <h2><b>@(Model.Message)</b></h2>
</div>

<br />

<div style="text-align:center">
    <form method="post"
          asp-controller="Order"
          asp-action="CancelSellOrder_execute"
          asp-route-productId="@(Model.ProductId)"
          asp-route-ordersCount="@(Model.OrdersCount)">

        <input class="btn btn-sm btn-primary" type="submit" value="Confirm" />

        @if (TempData["ReturnUrl"] is not null)
        {
            <a class="btn btn-sm btn-primary" href="@(TempData["ReturnUrl"])">
                Cancel
            </a>
        }
        else
        {
            <a class="btn btn-sm btn-primary" asp-controller="Product" asp-action="Products">
                Cancel
            </a>
        }

    </form>
</div>
