@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>

    <p class="text-danger">This account has been locked out until @(Model.LockoutEnd).</p>

    @if (string.IsNullOrEmpty(Model.Message) == false)
    {
        <br />
        <h2>Reason: </h2>
        <p class="text-danger"><b>@(Model.Message)</b></p>
    }
   
    
</header>
