@using TradingApp.ViewModels.Invoice
@model List<InvoicesViewModel>

@{
    ViewData["Title"] = "Invoices";
    
    PaginationHelper paginationHelper = new PaginationHelper()
    {
        Controller = "Invoice",
        Action = "Invoices",
        PageIndex = (int)(ViewData["page"] ?? 0)
    };   
}

<div class="container mt-4">

    @if (Model.Count == 0)
    {
        <div class="alert alert-info text-center">
            <h2>You have no invoices!</h2>
        </div>
    }
    else
    {
        <h2 class="mb-3">Your Invoices</h2>

        <partial name="_Invoices_Table" model="@(Model)"></partial>

        <br />

        <partial name="_Pagination" model="@(paginationHelper)"></partial>
    }
</div>