@using TradingApp.ViewModels.Product;
@model List<MyProductsViewModel>
@{
    ViewData["Title"] = "My products";
    
    PaginationHelper paginationHelper = new PaginationHelper()
    {
        Controller = "Product",
        Action = "MyProducts",
        PageIndex = (int)(ViewData["page"] ?? 0)
    };    
}

<div class="row row-cols-1 row-cols-sm-2 g-2">
    <div style="text-align:left">
        <h1>@(ViewData["Title"])</h1>
    </div>

    <div style="text-align:right">
        <a class="btn btn-sm btn-primary" asp-controller="ProductOperations" asp-action="CreateProduct">
            Create product
        </a>
    </div>


</div>
<br />


@if (Model is null)
{
    <h2>You have not created any products!</h2>
}
else
{
    <partial name="_MyProducts" model="@(Model)"></partial>

    <partial name="_Pagination" model="@(paginationHelper)"></partial>
    @section Styles {
        <partial name="_ProductStyle"></partial>
    }
}