@using TradingApp.InputModels;
@model TradingApp.InputModels.CreatedProductModel

@{
    ViewData["Title"] = "Create Product";

    List<string> imageNames = new List<string>() { "front", "back", "top", "bottom", "left", "right" };
    string frontImageName = imageNames[0];    
}

<h1>@(ViewData["Title"])</h1>
<br />


<form asp-controller="ProductOperations"
      asp-action="CreateProduct"

      method="post"
      enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" style="color:red"></div>

    <label asp-for="ProductName">Name</label> <input asp-for="ProductName" type="text" />
    <span asp-validation-for="ProductName" class="text-danger"></span>
    <br />
    <br />

    <label asp-for="Description">Description</label> <input asp-for="Description" type="text"/>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <br />

    <label asp-for="Price">Price</label> <input asp-for="Price" type="text" />
    <span asp-validation-for="Price" class="text-danger"></span>
    <br />
    <br />

    <div class="container py-4">

        <div class="row row-cols-1 row-cols-sm-2 g-2">

            @for (int i = 0; i < 6; i++)
            {
                <div class="col">

                    <div class="card h-100 shadow-sm">

                        @if (imageNames[i] == frontImageName)
                        {
                            <input type="file"
                            accept=".jpg,.jpeg"
                            asp-for="FrontImageFile" />
                            <span asp-validation-for="FrontImageFile" class="text-danger"></span>
                        }
                        else
                        {
                            <input type="file" accept=".jpg,.jpeg" />
                        }

                        <div class="card-body text-center">

                            <h6 class="card-title fw-semibold">
                                @imageNames[i]
                            </h6>

                        </div>

                    </div>

                </div>
            }

        </div>

    </div>

    <br />
    <input type="file" asp-for="File3DModel"/>
    <span asp-validation-for="File3DModel" class="text-danger"></span>
    <br />
    <br />
    <br />

    <button type="submit">Save</button>

</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>