@using TradingApp.InputModels;
@model DeletedProductModel

@{
    ViewData["Title"] = "Confirmation";
}

<div style="text-align:center">
    <h2><b>Are you sure you want to delete product @(Model.ProductName)?</b></h2>
</div>

<div style="text-align:center">
    <form method="post" asp-controller="ProductOperations" asp-action="DeleteProduct" asp-route-productId="@(Model.ProductId)" asp-route-productName="@(Model.ProductName)">
        <input type="submit" value="Confirm" />
       
        @if(TempData["ReturnUrl"] is not null )
        {
            <a class="btn btn-sm btn-primary" href="@(TempData["ReturnUrl"])">
                Cancel
            </a>
        }
        else
        {
            <a class="btn btn-sm btn-primary" asp-controller="Product" asp-action="Products">
                Cancel
            </a>
        }

    </form>
</div>
