@using TradingApp.ViewModels.InputProduct;
@model TradingApp.ViewModels.InputProduct.UpdatedProductModel

@{
    ViewData["Title"] = "Update Product";
}

<h1>@(ViewData["Title"])</h1>
<br />


<form asp-controller="ProductOperations"
      asp-action="UpdateProduct"
      method="post"
      enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" style="color:red"></div>

    <label asp-for="ProductName">Name</label> <input asp-for="ProductName" type="text" />
    <span asp-validation-for="ProductName" class="text-danger"></span>
    <br />
    <br />

    <label asp-for="Description">Description</label> <input asp-for="Description" type="text" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <br />

    <label asp-for="Price">Price</label> <input asp-for="Price" type="text" />
    <span asp-validation-for="Price" class="text-danger"></span>
    <br />
    <br />

    <partial name="_UpdateProduct_FileImageElements" />

    <br />
    <input type="file" asp-for="File3DModel" />
    <span asp-validation-for="File3DModel" class="text-danger"></span>
    <br />
    <br />
    <br />
    <input type="hidden" asp-for="Id" value="@(Model.Id)"/>
    <button type="submit">Apply Changes</button>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}